.divCheckBoxGroup {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.divAddUser {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

div {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.btnClearAll {
  color: rgb(167, 219, 45);
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 0;
}
